@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(139, 79, 0);
    background-color: rgb(47, 0, 100);

}

h2 {
    color: darkred;

}

p {
    text-align: justify;
}
